/* Home Product Item Slider */
.productItem .title {
  line-height: 20px !important;
}
.productItem .actions button:hover svg {
  color: #fff !important;
}
.productItem .actions button svg {
  pointer-events: none !important;
}
